# -------------------- Users Sheet -------------------- 
USERS_SHEET_URL="https://docs.google.com/spreadsheets/d/13Z8K2wCRohAhN4tiP_z3yojAZJahOpfqJv_4sJBckw0/gviz/tq?tqx=out:json&gid=1511671582" 
USERS_GID=1511671582 
USERS_SCRIPT_URL="https://script.google.com/macros/s/AKfycbzZDx3PoIatNFetuwUmutVllXILhDKyh2tLfm8mZ0g-60WTKZNZCxQZkcy5q4jgDS_J7g/exec" 
# -------------------- Employee Sheet -------------------- 
EMPLOYEES_SCRIPT_URL="https://script.google.com/macros/s/AKfycbwc-2EI1pOSSbJt4ckAyk9SL40IhVYH3ffzODIbTNOjok5XeoLcojyb3R0ENQiPcE7e/exec" 
# -------------------- Attendance Sheet -------------------- 
ATTENDANCE_SHEET_URL="https://docs.google.com/spreadsheets/d/13Z8K2wCRohAhN4tiP_z3yojAZJahOpfqJv_4sJBckw0/gviz/tq?tqx=out:json&gid=1669045384" 
ATTENDANCE_GID=1669045384 
# -------------------- Departments Sheet -------------------- 
DEPARTMENTS_SCRIPT_URL="https://script.google.com/macros/s/AKfycbzLGqgctvphdU-QdTtK3qpqhbqJTnVoSxIF8WxuZ37nZ0XuFfM2K1jOkh5vfh3ysGA2xw/exec" 
DEV_EMAIL="ferdyasino@gmail.com"