# -------------------- Users Sheet -------------------- 
USERS_SHEET_URL="https://docs.google.com/spreadsheets/d/13Z8K2wCRohAhN4tiP_z3yojAZJahOpfqJv_4sJBckw0/gviz/tq?tqx=out:json&gid=1511671582" 
USERS_GID=1511671582 
USERS_SCRIPT_URL="https://script.google.com/macros/s/AKfycbwuGYbdVgnEYjx8wOLgRtydvJSK9lJ7vmniVccQLYxqYWaiNd_OvGy-lt6oIsYd2RFQXQ/exec" 
# -------------------- Attendance Sheet -------------------- 
ATTENDANCE_SHEET_URL="https://docs.google.com/spreadsheets/d/13Z8K2wCRohAhN4tiP_z3yojAZJahOpfqJv_4sJBckw0/gviz/tq?tqx=out:json&gid=1669045384" 
ATTENDANCE_GID=1669045384 
DEV_EMAIL="ferdyasino@gmail.com"